@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');


h1 {
    font-family: titleFont;
    font-size: 50px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    margin: 0px;
    color: white;
}

@font-face {
    font-family: titleFont;
    src: url(../fonts/ELECTRICBOOTS.ttf);
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

li {
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
}

nav {
    text-align: center;
}

ul {
    margin: 0px;
    padding: 0px;
    padding-inline-start: 0px;
}

body {
    margin: 0px;
}

main {
    width: 100%;
    height: 600px;
    background-image: url(../img/profile-face-woman.jpg);
    background-position-x: center;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}




@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

div {
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.top-container {
    padding: 70px 150px 50px 150px;
}

.fondu {
    width: 100vw;
    box-shadow: 0px 0px 70px 215px rgba(0, 0, 0, 0.6);
}

.article-title {
    font-weight: bold;
    font-size: 5rem;
    margin: auto;
    text-shadow: 0 0 20px black;
}

.article-category {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 20px black;
}

.article-body {
    padding: 50px 50px 50px 50px;
    color: #080810;
    background-color: white;
    height: 100%;
}

.article-container {
    border-top: solid 6px #4B91F5;
    width: 90vw;
    margin: 20px 5vw 0px 5vw;
    padding: 0px 0px 0px 0px;
}

.article-shadow {
    
position: absolute;
    
width: 90vw;
    
height: 100px;
    
top: 600px;
}

.article-shadow::after {
    content: url(../img/shadow.png);
    left: -8px;
    position: absolute;
}

.article-shadow::before {
    content: url(../img/shadow-inverse.png);
    right: -8px;
    position: absolute;
}

p {
    margin-top: 0px;
}

article {
    text-indent: 60px;
    text-align: justify;
    color: #111;
    font-size: 1.4em;
}

.video {width: 100%;padding: 1rem 0% 2rem;}

.left-content {
    color: black;
    margin-left: 60px;
}

.article-item-left {

width: 62%;

float: left;
}

.article-item-right {
    
position: sticky;
    
top: 20px;
    
width: 38%;
    
float: left;
}

h5 {
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}


.related-article-container {position: relative;margin-bottom: 50px;}

.related-article-container img {
   max-height: 100%;
   width: 100%;
}

.shadow-bottom-related-article {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -50px 50px 0 rgb(0,0,0,0.8);
    top: 0;
    left: 0;
}


.title-related-article {
    position: absolute;
    color: white;
    top: 80%;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 30px;
    width: 100%;
    text-shadow: 0 0 20px black;
}